body {
    margin: 0;
    height: 100%;
}

.container {
    padding-top: 1cm;
    display: grid;
    justify-content: center;
    /*grid-template-columns: .75fr 1.5fr .75fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;*/
    height: 90%;
    width: 100%;
}

.footer {
    background-color: rgb(209, 208, 200);
    padding-left: 10px;
    margin: 0%;
}

.bottom {
    background-color: rgb(0, 0, 0);
}

.container > div {
    /*background-image: url('../images/background3.jpg');
    background-attachment: fixed;
    background-size: cover;*/
}

.container > div#no-background{
    /*background-image: none;*/
}

.container > .index-mid > div > a {
    text-decoration: none;
    color: white;
    transition: color 1s;
}

.container > .index-mid > div > a:hover {
    color: #000;
    background: #fff;
}

